/* regole generali */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
 }

/* clearfix float */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* contenitore header e nav */
.header-container {
  width: 100%;
  margin: 0 auto;

  /* debug */

  /* background-color: red; */
  /* min-height: 500px; */

  /* fine debug */
 }

body {
  background-color: #f4f9fd;
  }

/* header */
header {
  width: 100%
    /* debug */
  background-color: yellow;
  height: auto;
  /* border-bottom: 1px solid black; */
  /* fine-debug */
}

/* stile e struttura barra menu */
.initial-bar {
  padding: 1px;
  font-size: 18px;
  border-bottom: 2px solid black;
  margin-bottom: 0;
  /* debug */
  min-height: 80px;
  background-color: #f4f9fd;
  /* fine-debug */
}

/* stacco */
#language::after {
  content: "  |";
}

/* struttura barra menu lato destro */
.left-side {
  margin-top: 25px;
  margin-left: 10%;
  font-size: 16px;
  float: left;
  color: :#33475b;
}


/* struttura barra menu lato destro */
.right-side {
  margin-top: 25px;
  margin-right: 10%;
  font-size: 16px;
  float: right;

}

/* stile e struttura parte login menu */
.right-side a {
  margin:5px;
  border-radius: 5px;
  background-color: #fe775a;
  color:white;
  padding: 8px;
  text-decoration: none;
}


/* barra navigazione */
.nav-container {
  float: left;
  width: 100%;
  font-size: 16px;
  color:#33475b;
  /* debug */
  background-color: #ffffff;
  min-height: 80px;
  /* fine debug */
}

/* contenitore logo hubspot su nav */
.logo-container {
  margin-top: 20px;
  margin-left: 10%;
  float: left;
}


/* menu a dx di nav */
.menu-container {
  margin-top: 25px;
  margin-right: 10%;
  color: #33475b;
  float: right;
}

/* voci menu in orizzontale */
li {
  display: inline-block;
}

/* stile voci menu */
li a {
  text-decoration: none;
  color: #33475b;
  font-size: 20px;
  margin-right: 2px;
  padding-right: 10px;
}

/* contenitore jumbotron */
.section1-container {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  max-width: 100%;
  position: relative;
  /* debug */
  background-color: green;
  min-height:695px;
  /* fine debug */
}

/* banner jumbotron sezione 1 */
.section1-container aside {
  width: 30%;
  margin-left: 10%;
  position: absolute;
  top: 15%;
  left: 0%;
  /* debug */
  /* background-color: lightblue; */
  min-height: 400px;
  /* fine-debug */
}

/* stile banner jumbotron */
aside h1 {
  margin-bottom: 10px;
  color:#33475b;
  font-size: 40px;
  font-weight: bold;
}

/* stile bottone GetHubspotFree */
aside #get-hubspot {
  font-size: 14px;
  text-decoration: none;
  color:#ffffff;
  background-color: #fe775a;
  padding: 20px;
  border-radius: 5px;
}

/* posizionamento paragrafo banner */
aside #marketing {
  margin-bottom: 30px;
  padding-top: 10px;
}

/* posizionamento nota pie pagina banner */
aside #nota {
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
}

/* stile divisore sezione1 */
.divisore-sezione1 {
  border-bottom:4px solid #33475b;
  background-color: #afebe4;
  height: 50px;
}

/* parte centrale con bordi sx e dx */
main {
  margin-left:10%;
  margin-right:10%;
  /* debug */
  /* background-color: orange; */
  min-height: 600px;
}

/* sezione 2 */
.sezione2 {
  margin-top: 20px;
  max-width: 100%;
  text-align: center;
  /* debug */
  background-color: #f4f9fd;
  min-height: 300px;;
  /* fine-debug */
}

/* immagine cubo rubik dimensioni */
.sezione2 img {
  margin-top: 10px;
  width: 200px;
  height: 150px;
}

/* struttura sezione 2.1 */
.sezione2-1 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  padding:40px;
  max-width: 100%;
  border:1px solid lightgrey;
  border-radius: 5px;
  /* debug */
  background-color: white;
  min-height: 300px;
  /* fine-debug */
}

/* contenitore sottosezione sx */
#left-crm {
  width: 20%;
  margin-left: 10%;
  margin-right: 10%;
  /* padding: 25px; */
  float: left;
}

/* immagine crm */
#left-crm img {
  /* margin-top: 10px; */
  margin-bottom: 30px;
  width: 120px;
  height: 80px;
}

/* Learn more button */
#learn-more a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 15px;
}

/* sottosezione testo 2.1 */
.crm-text {
  width: calc(100% - 48%);
  float: left;
}

/* icone check */
.fas.fa-check-circle {
  margin-right: 10px;
  color: #fe775a;
}

/* margini singole feature */
.feature {
  font-size: 14px;
  margin-right: 20px;
}

/* sezione tre colonne */
.three-columns {
  margin: 40px 10% 40px;
  /* debug */
  background-color: green;
  min-height: 600px;
}
