/* regole generali */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
 }

/* clearfix float */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* contenitore header e nav */
.header-container {
  width: 100%;
  margin: 0 auto;

  /* debug */

  /* background-color: red; */
  /* min-height: 500px; */

  /* fine debug */
 }

body {
  background-color: #f4f9fd;
  }

/* header */
header {
  width: 100%
    /* debug */
  background-color: yellow;
  height: auto;
  /* border-bottom: 1px solid black; */
  /* fine-debug */
}

/* stile e struttura barra menu */
.initial-bar {
  padding: 1px;
  font-size: 18px;
  border-bottom: 2px solid black;
  margin-bottom: 0;
  /* debug */
  min-height: 80px;
  background-color: #f4f9fd;
  /* fine-debug */
}



/* stacco */
#language::after {
  content: "  |";
}

/* struttura barra menu lato destro */
.left-side {
  margin-top: 25px;
  margin-left: 10%;
  font-size: 16px;
  float: left;
  color: :#33475b;
}


/* struttura barra menu lato destro */
.right-side {
  margin-top: 25px;
  margin-right: 10%;
  font-size: 16px;
  float: right;

}

/* stile e struttura parte login menu */
.right-side a {
  margin:5px;
  border-radius: 5px;
  background-color: #fe775a;
  color:white;
  padding: 8px;
  text-decoration: none;
}


/* barra navigazione */
.nav-container {
  float: left;
  width: 100%;
  font-size: 16px;
  color:#33475b;
  /* debug */
  background-color: #ffffff;
  min-height: 80px;
  /* fine debug */
}


/* contenitore logo hubspot su nav */
.logo-container {
  margin-top: 20px;
  margin-left: 10%;
  float: left;
}


/* menu a dx di nav */
.menu-container {
  margin-top: 25px;
  margin-right: 10%;
  color: #33475b;
  float: right;
}

/* voci menu in orizzontale */
li {
  display: inline-block;
}

/* stile voci menu */
li a {
  text-decoration: none;
  color: #33475b;
  font-size: 20px;
  margin-right: 2px;
  padding-right: 10px;
}

/* contenitore jumbotron */
.section1-container {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  max-width: 100%;
  position: relative;
  /* debug */
  background-color: green;
  min-height:695px;
  /* fine debug */
}

/* banner jumbotron sezione 1 */
.section1-container aside {
  width: 30%;
  margin-left: 10%;
  position: absolute;
  top: 15%;
  left: 0%;
  /* debug */
  /* background-color: lightblue; */
  min-height: 400px;
  /* fine-debug */
}

/* stile banner jumbotron */
aside h1 {
  margin-bottom: 10px;
  color:#33475b;
  font-size: 40px;
  font-weight: bold;
}

/* stile bottone GetHubspotFree */
aside #get-hubspot {
  font-size: 14px;
  text-decoration: none;
  color:#ffffff;
  background-color: #fe775a;
  padding: 20px;
  border-radius: 5px;
}

/* posizionamento paragrafo banner */
aside #marketing {
  margin-bottom: 30px;
  padding-top: 10px;
}

/* posizionamento nota pie pagina banner */
aside #nota {
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
}

/* stile divisore sezione1 */
.divisore-sezione1 {
  border-bottom:4px solid #33475b;
  background-color: #afebe4;
  height: 50px;
}

/* parte centrale con bordi sx e dx */
main {
  /* margin-left:10%;
  margin-right:10%; */
  /* debug */
  /* background-color: orange; */
  min-height: 600px;
}

/* sezione 2 */
.sezione2 {
  margin-top: 20px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  /* debug */
  background-color: #f4f9fd;
  min-height: 300px;;
  /* fine-debug */
}

/* immagine cubo rubik dimensioni */
.sezione2 img {
  margin-top: 10px;
  width: 200px;
  height: 150px;
}

/* struttura sezione 2.1 */
.sezione2-1 {
  margin: 20px auto;
  padding:40px;
  width: 80%;
  border:1px solid lightgrey;
  border-radius: 5px;
  /* debug */
  background-color: white;
  min-height: 300px;
  /* fine-debug */
}

/* contenitore sottosezione sx */
#left-crm {
  width: 20%;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}

/* immagine crm */
#left-crm img {
  margin-bottom: 30px;
  width: 120px;
  height: 80px;
}

/* Learn more button */
#learn-more a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 15px;
}

/* sottosezione testo 2.1 */
.crm-text {
  width: calc(100% - 48%);
  float: left;
  text-align: left;
}

/* .crm-text h4 {
  margin-left: 10px;
} */

/* icone check */
.fas.fa-check-circle {
  /* margin-right: 10px; */
  color: #fe775a;
}

/* margini singole feature */
.feature {
  font-size: 14px;
  margin-right: 20px;
}

/* sezione tre colonne */
.three-columns {
  width:80%;
  margin:20px auto;
  /* debug */
  /* background-color: green; */
  min-height: 600px;
}

/* dimensione colonne hub */
.hub-type1, .hub-type2, .hub-type3 {
  max-width: calc((100% / 3) - 20px);
  float: left;
  border:1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: white;
  /* debug */
  min-height: 600px;
}

/* margini destri prime due colonne */
.hub-type1, .hub-type2 {
  margin-right: 30px;
}

.popular-feature {
  text-align: center;
}

/* margini elementi dentro ogni hub */
.three-columns h3 {
  margin:10px;
}

.three-columns p {
  margin:20px;
}

.three-columns hr {
  margin:10px;
}

.three-columns h4 {
  margin:20px;
}

.three-columns img {
  width: 180px;
  height: 90px;
  margin-bottom: 20px;
}

/* Learn more button */
.three-columns a {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 15px;
}

/* contenitore sezione 4 blu */
.container-sezione4 {
  width: 100%;
  background-color: #00abb6;
  margin-top: 50px;
  /* debug */
  min-height: 600px;
}

#testo-statistiche {
  width: 80%;
  margin:20px auto;
  padding-top: 40px;
  color: white;
  text-align: center;
}

#testo-statistiche h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

/* griglia blu statistiche sezione 4 */
.griglia-statistiche {
  width: 80%;
  margin:20px auto;
  padding: 40px;
  /* debug */
  /* background-color: red; */
  min-height: 300px;
}

/* quadrati griglia statistiche */
.stat {
  float:left;
  width: calc(100% / 4);
  text-align: center;
  padding: 20px;
  border:1px solid white;
  /* debug */
  /* background-color: yellow; */
  min-height: 150px;
}

/* rimozione bordi */
.stat.border1, .stat.border5 {
  border-left: none;
}

.stat.border1, .stat.border4 {
  border-top:none;
}

.stat.border2, .stat.border3 {
  border-top:none;
}

.stat.border4, .stat.border8 {
  border-right: none;
}

.stat.border5, .stat.border6, .stat.border7, .stat.border8 {
  border-bottom:none;
}

/* immagini griglia */
.stat img {
  width: 40px;
  height: 40px;
}

/* stile e margini contenuto griglia */
.stat h2 {
  font-size: 40px;
  font-weight: bold;
  margin:2px;
  color:white;
}

.stat p {
  margin: 2px;
  font-size: 12px;
  color: white;
}

/* struttura ultima sezione pre-footer */
.last-section {
  /* debug */
  background-color: white;
  min-height: 600px;
}

/* contenitore sezione 4 */
.container-sez4 {
  width: 80%;
  margin:20px auto;
  /* debug */
  /* background-color: green; */
  min-height: 600px;
}

/* struttura sottosezione4 */
.sottosezione4 {
  width: 80%;
  margin:20px auto;
  /* debug */
  /* background-color: red; */
  min-height: 200px;
}

/* blocco sx sottosezione4 */
#customers-number {
  width: 20%;
  float: left;
  margin:20px;
  /* debug */
  /* background-color: purple; */
  min-height: 150px;
}

/* stile e margini testo in sottosezione4 */
.sottosezione4 h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sottosezione4 p {
  font-size: 14px;
  line-height: 20px;
}

/* contenitore loghi customers */
.customers-logo {
  width: 60%;
  float: right;
  margin:20px;
  padding:15px;
  /* debug */
  /* background-color: lightblue; */
  /* min-height: 300px; */
}

/* proprietà logo */
.logo {
  width: calc(100% / 4);
  float: left;
  margin-bottom:20px;
}

/* proprietà immagini loghi */
.logo img {
  max-width: 100px;
  max-height: 30px;
}

/* contenitore sottosezione5 */
.sottosezione5 {
  width: 100%;
  margin: 20px auto;
  /* debug */
  /* background-color: yellow; */
  min-height:300px;
}

/* struttura sottosezione5-sx */
.sottosezione5-sx {
  width: 40%;
  float: left;
  /* debug */
  min-height: 300px;
}

/* stili e margini testo sottosezione5-sx */.sottosezione5-sx h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sottosezione5-sx #description {
  font-size: 16px;
  margin-bottom:20px;
  margin-left: 10px;
}

/* contenitore bottone GetHubspotFree */
.GetHubspotFree-button {
  max-width: 80%;
  margin-top:40px;
  margin-left: 10px;
  padding-top: 20px;
  /* debug */
  min-height: 100px;
  /* background-color: red; */
}

/* bottone GetHubspotFree */
.GetHubspotFree-button  a {
  font-size: 16px;
  text-align: center;
  padding: 15px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.sottosezione5-sx #subfooter {
  font-size: 12px;
}

/* struttura sottosezione5-dx */
#sottosezione5-dx {
  width: 60%;
  float: right;
  text-align: right;
  /* debug */
  min-height: 300px;
  /* background-color: purple; */
}

/* dimensioni immagine sottosezione5-dx */
#sottosezione5-dx img {
  max-width: 300px;
  height: 250px;
}

/* struttura footer */
footer {
  width: 100%;
  /* debug */
  background-color: #32495b;
  /* min-height:600px; */
}

/* contenitore interno a footer */
.subcontenitore-footer {
  width: 80%;
  margin: 20px auto;
  /* padding: 20px; */
  /* debug */
  /* background-color: green; */
  min-height: 300px;
}

/* colonne menu footer */
.colonne-footer {
  width: calc(100% / 4);
  float: left;
  margin-top: 20px;
  /* debug */
  /* background-color: red; */
  min-height:250px;
  /* border:1px solid black; */
}

/* .colonne-footer ul {
  columns: 1;
} */

/* stile testo e margini contenuto menu footer */
.colonne-footer h4 {
  font-weight: bold;
  color: white;
  margin:10px;
}

.colonne-footer ul li {
  display: block;
  margin: 10px;
}

.colonne-footer ul li a {
  font-size: 14px;
  color:lightblue;
}

#support-button {
  margin:10px;
  padding-top: 20px;
  /* debug */
}

#support-button a {
  font-size: 14px;
  text-align: center;
  padding: 8px;
  color: #32495b ;
  background-color: #dadee0;
  border-radius: 5px;
  text-decoration: none;
}

/* contenitore social button */
.contenitore-social {
  width: 100%;
  margin:10px;
  /* debug */
  /* background-color: purple; */
  min-height: 50px;
}

/* loghi social */
.social-logo i {
  float: left;
  max-width: calc(100% / 5);
  margin: 10px;
  padding-top: 8px;
}


/* menu nav lingua */
#language-nav {
  width: 80%;
  margin:20px auto;
  text-align: center;
  /* debug0 */
  /* background-color: red; */
  min-height: 150px;
}

#language-nav ul {
  margin-bottom: 20px;
}

/* stile lingue list */
#language-nav li a {
  font-size: 14px;
  color: lightblue;
  text-decoration: none;
}


/*contenitore copyright footer  */
.copyright-footer {
  width: 100%;
  margin-top: 30px;
    /* debug */
  /* background-color: green; */
  min-height: 50px;
}

/* blocco copyright sx */
#copyright-sx {
  float: left;
  max-width: 40%;
  text-align: left;
  color: white;
  font-size: 12px;
}

/* blocco legal float dx */
#legal-dx {
  float: right;
  padding-top: 10px;
}

/* stile link legal footer */
.legal a {
  text-decoration: none;
  color: lightblue;

}
