/* regole generali */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
 }

/* clearfix float */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* contenitore header e nav */
.header-container {
  width: 100%;
  margin: 0 auto;
  /* debug */

  background-color: red;
  /* min-height: 500px; */

  /* fine debug */
 }

/* header */
header {
  width: 100%
    /* debug */
  background-color: yellow;
  height: auto;
  /* border-bottom: 1px solid black; */
  /* fine-debug */
}

/* stile e struttura barra menu */
.initial-bar {
  padding: 1px;
  font-size: 18px;
  border-bottom: 2px solid black;
  margin-bottom: 0;
  /* debug */
  min-height: 80px;
  background-color: #f4f9fd;
  /* fine-debug */
}

/* stacco */
#language::after {
  content: "  |";
}

/* struttura barra menu lato destro */
.left-side {
  margin-left: 10%;
  float: left;
  padding: 30px;
  color: #9ba7b1;
}


/* struttura barra menu lato destro */
.right-side {
  margin-right: 10%;
  float: right;
  padding: 30px;
}

/* stile e struttura parte login menu */
.right-side a {
  margin:5px;
  border:1px solid black;
  border-radius: 5px;
  background-color: orange;
  color:white;
  padding: 5px;
  text-decoration: none;
}


/* barra navigazione */
.nav-container {
  float: left;
  width: 100%;
  /* debug */
  background-color: #ffffff;
  min-height: 80px;
  /* fine debug */
}

/* contenitore logo hubspot su nav */
.logo-container {
  margin-left: 10%;
  float: left;
  padding: 30px;
}

/* menu a dx di nav */
.menu-container {
  margin-right: 10%;
  float: right;
  padding: 30px;
}

/* voci menu in orizzontale */
li {
  display: inline-block;
}

/* stile voci menu */
li a {
  text-decoration: none;
  color: lightblue;
  font-size: 20px;
  margin-right: 2px;
  padding-right: 10px;
}

/* contenitore jumbotron */
.section1-container {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  max-width: 100%;
  position: relative;
  /* debug */
  background-color: green;
  min-height:695px;
  /* fine debug */
}

/* banner jumbotron sezione 1 */
.section1-container aside {
  margin-left: 10%;
  /* debug */
  background-color: lightblue;
  width: 20%;
  min-height: 400px;
  position: absolute;
  top: 15%;
  left: 0%;
}
